@charset "utf-8";

:root {
  --primary: #d81e27;
  --title: 56px;
  --description: 20px;
  --radius-s: 0.24rem;
  --radius-m: 0.5rem;
  --radius-l: 1rem;
  --grd-type-a: linear-gradient(91deg, #261733, #151a3f);
  --grd-type-a-hover: linear-gradient(91deg, #4c2e66, #212964);
  --max-w: 1414px;
}

body {
    background: #000 url(../images/monsters.jpg) no-repeat center top/cover; 
    color: #fff;
    font-family: sans-serif;
    height: 2000px;
}

.page-header {
    width: 100%;
    margin: 0 auto;
    /* align items: center 주면 가운데 정렬이 되는데 margin으로 가운데 정렬을 맞춰야하나? 둘 중 하나만 하면 안되나? */
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    padding: 0 80px;
    background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(46, 22, 28, 0) 100%
    /* 그라디언트는 전체 페이지에 주는게 아니라 header에만 주는거? */
  );
}

.page-header h1 img {
    width: 148px;
}

.nav {
    display: flex;
    gap: 12px;
}

.nav select, .nav button {
    height: 32px;
    border-radius: 8px;
    padding: 0 36px;
    min-width: 124px;
    font-size: 16px;
    color: inherit;
}

.nav select {
    border: 1px solid #fff;
    padding-left: 30px;
    /* 이미지 넣으니까 배경색 빠지고, 글씨에 흰색 준 거 풀리는 이유가 뭐지? */
    background: url(../images/netflix_lang_icon.svg) no-repeat 12px center/20px auto;

    /* height: 32px;
    border-radius: 8px;
    padding: 0 36px;
    background: url(../images/netflix_lang_icon.svg) no-repeat left center;
    color: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25; */

}

.nav button { 
    background-color: #d81e27;
    border: inherit;
   

    /* height: 32px;
    border: none;
    /* 자동으로 border가 들어가는건 브라우저 기본 설정 떄문?? */
    /* border-radius: 8px;
    min-width: 124px;
    padding: 0 36px;
    background-color: #d81e27;
    color: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25; */
} 

.onboarding {
    width: 100%;
    max-width: 600px;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 0 auto;
    gap: 20px;
}

.onboarding h2 {
    margin-bottom: 8px;
    font-size: 40px;
    font-weight: 900;
    line-height: 1.25;
}

.onboarding p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    margin-bottom: 16px;
}

.onboarding h3 {
 font-size: inherit;
    font-weight: inherit;
    line-height: 1.25;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.input-container {
    height: 58px;
    display: flex;
    margin-top: 1rem;
    gap: 8px;
}

.input-container input, .input-container button {
    border-radius: 8px;
    padding: 0 1.25rem;
    border: inherit;
}

.input-container input {
    border: 1px solid #fff;
    flex-grow: 1;
}

.input-container button {
    background-color: #d81e27;
    font-size: 1.25rem;
    color: inherit;
}

.container-wrap {
    max-width: var(--max-w);
    width: 100%;
    display: flex;
    gap: 60px;
}

.container-wrap img {
    width: 80px;
    height: auto;
}

.container 
{
    max-width: 1414px;
    width: 100%;
    margin: 0 auto;
    padding: 32px 16px;
    border-radius: var(--radius-l);
    background-image: var(--grd-type-a);
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    transition: 0.4s;
}


.container:hover {
    scale: 1.1;
    background-image: var(--grd-type-a-hover);
}

.container h4 {
    font-size: 1.25rem;
}

.h4 strong {
    font-size: inherit;
}
.container p {
    font-size: 1rem;
}

.container a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 135px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: var(--radius-s);
    position: absolute;
    right: 30px;
    top: 50%;
    translate: 0 -50%;
    transition: 0.4s;
}

.container a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.container strong {
        font-size: 1rem;
}

.inner {

}

.inner h4 {
    font-size: 1.5rem;
    line-height: 1;
}

.top-10 li {
    margin: 12px;
    padding: 0.4rem 1.375rem;
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 4rem;
    transition: 1s;
}

.top-10 li:hover {
    transform: 0 0;
    scale: 1.1;
}

.inner .poster {
    width: 140px;
    height: 196px;
    border-radius: 0.5rem;
    background-size: cover;
    background-position: center;
}

.top-10 li .top-num {
    position: absolute;
    left: -10px;
    bottom: -12px;
    z-index: 10;
    font-weight: 700;
    font-size: 5rem;
    /* color: rgb(65, 65, 65); */
    -webkit-text-fill-color: rgb(0, 0, 0);
    -webkit-text-stroke: 0;
}

.cache-box {
    width: 400px;
    height: 200px;
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
    padding: 24px;
    margin: 12px auto;
    border-radius: 1rem;
    position: relative;
}


.cache-box img {
    width: 72px;
    height: 72px;
    position: absolute;
    right: 15px;
    bottom: 15px;
}
