@charset "utf-8";
 /* reset */
        * {
            box-sizing: border-box;
            margin: 0px;
            padding: 0px;
        }
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}